---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import CTA from '../components/CTA.astro';
import Testimonials from '../components/Testimonials.astro';
import Partners from '../components/Partners.astro';
import Team from '../components/Team.astro';
import CaseStudies from '../components/CaseStudies.astro';
---

<Layout title="Immigration Law Firm - Expert Immigration Services">
  <main>
    <Hero />
    <Services />
    <CTA />
    <CaseStudies />
    <Testimonials />
    <Partners />
    <Team />
  </main>
</Layout>